<style>
.logo {
  background-image: url(EIF-IPW-Logo.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 2em;
  right: 1em;
  width: 262px;
  height: 168px;
  z-index: 0;
}
</style>

<script>
document
  .querySelectorAll(
    '.remark-slide-content' +
    ':not(.title-slide)' +
    ':not(.inverse)' +
    ':not(.hide-logo)'
  )
  .forEach(el => {
    el.innerHTML += '<div class="logo"></div>';
  });
</script>